<div class="bs-component">
    {% for alertBox in alertBoxCollection %}
        <div class="alert-{{alertBox.getType}}" role="alert">
            {% if alertBox.isCloseable %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Schliessen">
                    <span aria-hidden="true">&times;</span>
                </button>
            {% endif %}
            {% if alertBox.getTitle|length > 0 %}
                <h3>{{alertBox.getTitle}}</h3>
            {% endif %}
            {% if alertBox.getMessageFormat == 'blank' %}
                {% for message in alertBox.getMessageList %}
                    {{message|raw}}
                    <div class="clearfix"></div>
                {% endfor %}
            {% endif %}
            {% if alertBox.getMessageFormat == 'list_bulleted' %}
                <ul>
                    {% for message in alertBox.getMessageList %}
                        <li>{{message|raw}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if alertBox.getMessageFormat == 'paragraph' %}
                {% for message in alertBox.getMessageList %}
                    <p>{{message|raw}}</p>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
</div>